.shop {
  /* Box */
  padding: 1rem 5rem 0rem 5rem;
}

.shop .title {
  color: #d33169;
}

.shop .subtitle {
  color: #4a4a4a;
  font-weight: 600;
}

.shop section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* ============== Media Queries ================= */

@media only screen and (max-width: 600px) {
  .shop {
    padding: 1rem 2rem 0rem 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .shop {
    padding: 1rem 1rem 0rem 1rem;
  }
}
