.cart {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.cart-icon-container {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.cart-icon {
  position: absolute;
  top: 0.6rem;
  left: 0.2rem;
  z-index: 1;
}

.drop-target {
  position: absolute;
  left: -0.2rem;

  z-index: 0;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
}

.drop-target.droppable {
  background-color: #43698c;
}

.total-items {
  position: absolute;
  z-index: 2;
  /* DEV: Placement of styling is done dynamically in the component */

  color: #28425a;
}

.tabbed-vertical-separator {
  padding: 0 0.5rem;
}
