.app {
  /* Provides the row layout for the page */
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

.app main {
  /* Display */
  flex-grow: 1;

  /* Box */
  padding-top: 3.5rem;

  /* Other */
  background-color: #bdbdbd;
}
