.header {
  padding: 0.25rem 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #ffffff;
  background-color: #28425a;
}

.header nav {
  display: flex;
  align-items: center;
}

.header .store-icon-container {
  object-fit: contain;
}

.header nav a {
  margin: 0 2rem 0 0;

  text-decoration: none;

  color: #ffffff;
  font-weight: 600;
}

.header nav a:hover {
  text-decoration: underline;
}
