.header {
  position: fixed;
  padding: 0.25rem 5rem;
  width: calc(100vw - 10rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #ffffff;
  background-color: #28425a;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0.25rem 2rem;
    width: calc(100vw - 4rem);
  }
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 0.25rem 1rem;
    width: calc(100vw - 2rem);
  }
}
