.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar .store-icon-container {
  object-fit: contain;
}

.nav-bar a {
  /* Box */
  margin: 0 2rem 0 0;

  /* Other */
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar .selected {
  color: #86ebb9;
}
