/* FIXME: Check this whole file later */

.footer {
  /* Display Info */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  /* Box model */
  padding: 46px 5rem 27px 5rem;

  /* Other */
  text-align: center;
  background-color: #28425a;
}

.footer nav {
  /* Display Info */
  display: flex;
  flex-flow: column;

  /* Box model */
  margin: 0 4rem;
}

.footer nav h3 {
  /* Box model */
  margin: 0 0 1rem 0;

  /* Other */
  font-size: 1rem;
  color: #d33169;
}

/* HACK: This is a bit of a hack to grab the 'a' tag... consider making a custom component */
.footer nav a {
  /* Box */
  margin: 0 0 1rem 0;

  /* Other */
  font-size: 0.875rem;
  text-decoration: none;
  color: #ffffff;
}

.footer nav a:hover {
  text-decoration: underline;
}

/* ================= Media Queries ===================== */

@media only screen and (max-width: 600px) {
  .footer {
    padding: 46px 2rem 27px 2rem;
  }
  .footer nav {
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    padding: 46px 1rem 27px 1rem;
  }
  .footer nav {
    margin: 0 2rem;
  }
}
