@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&display=swap');

/* FIXME: Double check with Sam that you can use css variables */
/* :root {
  --grayish-brown: #4a4a4a;
  --pinkish-grey: #bdbdbd;
  --dark-grey-blue: #28425a;
  --dark-pink: #d33169;
  --white: #ffffff;
} */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }
}

/* 900 requires a switch in navigation */
